<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Sakura Ramen
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css">   
</head>

<body>
    <div class="background">
        <div class="menu">
            <div class=picture>
                <img src="img/saku.png">
            </div>


            <div class="right">

                <a class="hide-mobile" href="#1"><b>MENU</b></a>
                <a class="hide-mobile" href="#2"><b>LOCATIONS</b></a>
                <a class="hide-mobile" href="#3"><b>ABOUT</b></a>
                <a class="overflow" href="tel:017654564534" a class="mobilenumber">
                    <img src="img/phone.png" style="width:30px;height:30px;object-fit:contain;margin: 0 6px;">
                    <span>017654564534</span>
                </a>
            </div>
        </div>

        <div class="headlines">
            <div class="sakura">
                <b>
                    <h1 class="h1"> SAKURA RAMEN </h1>
                </b>
            </div>

            <span class="subheading">
                <b> THE BEST RAMEN IN TOWN </b>
            </span>
        </div>
    </div>

    <!--Hier kommt Sektion 2-->
    <div class="white">
        <h2 class="headline2">HOW TO ORDER</h2>
        <!-- Untersektion mit Gerichten und Bildern-->
        <div class="picturesandtext">
            <div class="child">
                <div>
                    <img src="img/bowl_icon.jpg">
                </div>
                <span>
                    <b>Pick<br>
                        Your Noodle</b>
                </span>
            </div>

            <div class="child">
                <div>
                    <img src="img/broth_icon.png">
                </div>
                <span>
                    <b>Pick<br>
                        Your Broth</b>
                </span>
            </div>

            <div class="child">
                <div>
                    <img src="img/eggs_icon.jpg">
                </div>
                <span>
                    <b>Add Your <br>
                        Toppings</b>
                </span>
            </div>

        </div>
    </div>
    <!--Sektion Orange-->
    <div class="orange" id="1">
        <div class="ourmenu">
            <h2 class="margin">OUR MENU</h2>
        </div>

        <div class="dishes">
            <img src="img/r1.png">
            <table class="table">
                <caption style="text-align: left; font-size:30px;margin:10px 0;color:black;font-weight: 700;">Tonkasu
                    Ramen</caption>
                <tr>
                    <td><b>CHICKEN</b></td>
                    <td><b>11,95€</b></td>
                </tr>
                <tr>
                    <td><b>BEEF</b></td>
                    <td><b>12,95€</b></td>
                </tr>
                <tr>
                    <td><b>SHRIMP</b></td>
                    <td><b>13,95€</b></td>
                </tr>
            </table>
        </div>

        <div class="dishes row-reverse">
            <table class="table">
                <caption style="text-align: left; font-size:30px;margin:10px 0;color:black;font-weight: 700;">Spicy Miso
                    Ramen</caption>
                <tr>
                    <td><b>CHICKEN</b></td>
                    <td><b>11,95€</b></td>
                </tr>
                <tr>
                    <td><b>BEEF</b></td>
                    <td><b>12,95€</b></td>
                </tr>
                <tr>
                    <td><b>SHRIMP</b></td>
                    <td><b>13,95€</b></td>
                </tr>
            </table>

            <img src="img/r2.png">
        </div>

        <div class="dishes">
            <img src="img/r3.png">
            <table class="table">
                <caption style="text-align: left; font-size:30px;margin:10px 0;color:black;font-weight: 700;">Shio Ramen
                </caption>
                <tr>
                    <td><b>CHICKEN</b></td>
                    <td><b>11,95€</b></td>
                </tr>
                <tr>
                    <td><b>BEEF</b></td>
                    <td><b>12,95€</b></td>
                </tr>
                <tr>
                    <td><b>SHRIMP</b></td>
                    <td><b>13,95€</b></td>
                </tr>
            </table>
        </div>
    </div>

    <!--Sektion FIND US AT-->
    <div class="white" id="2">
        <div class="red">
            <h2 class="margin2">FIND US AT</h2>
        </div>

        <div class="center">
            <div>
                <img src="img/LO.png" style="width:20px;height:20px;object-fit:contain">
            </div>
            <div>
                Kapuzinerstraße 31, München, BY 80337
            </div>
        </div>
    </div>

    <!--Sektion Google Maps-->
    <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.5572925732076!2d19.05457561581813!3d47.49853710342962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc6a0c8daa65%3A0xc95d7dba0601f2ec!2sSakura%20Ramen!5e0!3m2!1sde!2sde!4v1638871609806!5m2!1sde!2sde"
            width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <!--Footer-->

    <div class="footer" id="3">
        <div>
            <div>
                <img class="smartphone-resolution" src="img/saklogo.png">
            </div>
        </div>

        <div class="footer-child">
            <div class="images">
                <img src="img/fb.png">
            </div>

            <div class="images">
                <img src="img/ins.png">
            </div>

            <div class="images">
                <img src="img/tripad.png">
            </div>

        </div>


    </div>





</body>







</html>